/* Common for Web */
body{
          font-family: 'Open Sans', sans-serif;
}

.orange-all{
          color: #FD6E0A;
}

.btn-all{
          border-radius: 5px;
          background: #FD6E0A;
          border: 0;
          font-size: 20px;
          color: white;
          font-weight: 700;
          padding: 15px 35px;
}
nav{
          display: flex;
          justify-content:space-between;
          align-items: center;
          margin: 0px 200px;

}

/* common thinks close */
.logo{
          color: var(--Dark-01, #181818);
          font-size: 45px;
          font-weight: 800;
             
}

nav > ul{
          display: flex;
          align-items: center;
}

nav li{
          list-style: none;
          margin-right: 50px;

}

nav a{
          text-decoration: none;
          color: #474747;

}
/* heder section */

.hero{
          background-color:#FFF8F3;
          background-image: url('../images/header_bg.png');
          background-repeat: no-repeat;
          background-position: bottom right;

}

/* banner section */

.banner{
          padding: 30px 30px 0px 150px;
          display: flex;
          align-items: center;
          justify-content: space-between;
}

b-content{
          max-width: 500px;
}

.banner .banner-img{
          width: 584px;
          height: 676px;
}

.b-text1{
          font-size: 45px;
          margin: 0;
          font-weight: 600;


}
.b-text2{
          font-size: 85px;
          margin-top: 5px;
          margin-bottom: 20px;
          font-weight: 700;

}
.b-text3{
          font-size: 18px;
          margin-top: 0px;
          font-weight: 400;
          line-height: 30px;
             
}

/* main section */
main{
        max-width: 1140px;
        margin: 0 auto;
}
/* about section  */

.about{
          border-radius: 10px;
          background: #FFF8F3;
          margin: 130px 0;
          padding: 130px;

}
 .ab-h3{
          color: #181818;
          text-align:center;
          font-size: 35px;
          font-weight: 700;
}

 .ab-p{
          color: #757575;
          text-align: center;
          font-size: 18px;
          font-weight: 400;
          line-height: 30px; 
}

.about-info-container{
        display: flex;
        justify-content: space-around;

}

.about-info{
        text-align: center;
}


#wid-p-tag{
        padding: 30px 150px;
        text-align: center;
        padding-top: 0px;

}